.site-header {
  background-color: #1EA9F2;
  position: relative;

}
.heading-group-h1 {
  float: left;
}
.icon-menu {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 40px;
}
.main-nav:hover ul {
  display: block;
}
.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .2em;
  border-bottom: 1px solid #ccc;
}

@media only screen and (min-width: 768px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }

  .main-nav li {
    display: inline;
    border: none;
    padding-right: 10px;

  }
  .maiv-nav li a {
    text-decoration: none;


  }

}

@media only screen and (min-width: 640px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }

  #filters select {
    width: 15em;
    margin: .2em .2em;
  }

  #filters li {
    width: 20em;
    display: inline;
  }
}
