body{
  background-color: #A9BBF2;
}
header {
  background-color: #877A64;
  text-align: center;
}
footer {
  display: fixed
  bottom:auto;
}
nav {
  display: block;
}
ul {
  list-style: none;
  display: inline-block;
}
li {
  text-decoration: none;
}
a, a:link, a:active {
  color: #F2EFEB;
  text-decoration: none;
}

.main-nav {
  list-style: none;

}
.main-nav ul {
  display: block;
}
.main-nav li{
  list-style: none;
  border: none;
}
